In [0]:
%sql
use catalog mars_shared_catalog;
use mars_shared_catalog.mars_schema_1;

In [0]:
%sql
SHOW GROUPS WITH USER `dipankar.kushari@databricks.com`;

name,directGroup
techsummit24-group-1,true
retail_demo,true
admins,true

### Right now the user does not belong to any of the groups mentioned in DV definition. So, the "Else" logic is enforced.

In [0]:
%sql
select * from mars_shared_catalog.mars_schema_1.people_redacted;

### Lets add the user to the mars_test_group - both male and female records will be accessible

In [0]:
%sql
SHOW GROUPS WITH USER `dipankar.kushari@databricks.com`;

name,directGroup
techsummit24-group-1,true
admins,true
retail_demo,true
mars_test_group,true

In [0]:
%sql
select * from mars_shared_catalog.mars_schema_1.people_redacted;

id,firstName,middleName,lastName,gender,birthDate,ssn,salary
1,Pennie,Carry,Hirschmann,F,1955-07-02T04:00:00.000Z,981-43-9345,56172
2,An,Amira,Cowper,F,1992-02-08T05:00:00.000Z,978-97-8086,40203
3,Quyen,Marlen,Dome,F,1970-10-11T04:00:00.000Z,957-57-8246,53417
4,Coralie,Antonina,Marshal,F,1990-04-11T04:00:00.000Z,963-39-4885,94727
5,Terrie,Wava,Bonar,F,1980-01-16T05:00:00.000Z,964-49-8051,79908
6,Chassidy,Concepcion,Bourthouloume,F,1990-11-24T05:00:00.000Z,954-59-9172,64652
7,Geri,Tambra,Mosby,F,1970-12-19T05:00:00.000Z,968-16-4020,38195
8,Patria,Nancy,Arstall,F,1985-01-02T05:00:00.000Z,984-76-3770,102053
9,Terese,Alfredia,Tocque,F,1967-11-17T05:00:00.000Z,967-48-7309,91294
10,Wava,Lyndsey,Jeandon,F,1963-12-30T05:00:00.000Z,997-82-2946,56521
5000001,Jasper,Gil,Neubigin,M,1961-02-20T05:00:00.000Z,900-26-1632,71908
5000002,Robert,Lindsay,Kipling,M,1986-01-02T05:00:00.000Z,971-15-9711,73156
5000003,Abdul,Mickey,Pachta,M,1956-01-28T05:00:00.000Z,935-93-3364,71366
5000004,Earle,Logan,Gieraths,M,1958-04-17T05:00:00.000Z,995-20-3583,82976
5000005,Mickey,August,Wotton,M,1976-08-29T04:00:00.000Z,666-63-8912,53965
5000006,Theron,Theo,Aplin,M,1995-03-16T05:00:00.000Z,902-85-9597,92844
5000007,Brice,Jefferson,Charge,M,1973-07-17T04:00:00.000Z,983-50-9434,66020
5000008,Valentin,Aubrey,Yakunin,M,1999-04-06T04:00:00.000Z,951-85-8091,67641
5000009,Trenton,Rogelio,Prangle,M,1980-05-18T04:00:00.000Z,922-19-4866,49319
5000010,Brock,Bruno,Perdue,M,1967-07-18T04:00:00.000Z,968-59-2693,55465

### Lets remove the user from the mars_test_group and add the user to the mars_male_group now

In [0]:
%sql
SHOW GROUPS WITH USER `dipankar.kushari@databricks.com`;

name,directGroup
mars_male_group,true
techsummit24-group-1,true
admins,true
retail_demo,true

In [0]:
%sql
select * from mars_shared_catalog.mars_schema_1.people_redacted;

id,firstName,middleName,lastName,gender,birthDate,ssn,salary
5000001,Jasper,Gil,Neubigin,M,1961-02-20T05:00:00.000Z,900-26-1632,71908
5000002,Robert,Lindsay,Kipling,M,1986-01-02T05:00:00.000Z,971-15-9711,73156
5000003,Abdul,Mickey,Pachta,M,1956-01-28T05:00:00.000Z,935-93-3364,71366
5000004,Earle,Logan,Gieraths,M,1958-04-17T05:00:00.000Z,995-20-3583,82976
5000005,Mickey,August,Wotton,M,1976-08-29T04:00:00.000Z,666-63-8912,53965
5000006,Theron,Theo,Aplin,M,1995-03-16T05:00:00.000Z,902-85-9597,92844
5000007,Brice,Jefferson,Charge,M,1973-07-17T04:00:00.000Z,983-50-9434,66020
5000008,Valentin,Aubrey,Yakunin,M,1999-04-06T04:00:00.000Z,951-85-8091,67641
5000009,Trenton,Rogelio,Prangle,M,1980-05-18T04:00:00.000Z,922-19-4866,49319
5000010,Brock,Bruno,Perdue,M,1967-07-18T04:00:00.000Z,968-59-2693,55465

### Lets remove the user from the mars_male_group and add the user to the mars_female_group now

In [0]:
%sql
SHOW GROUPS WITH USER `dipankar.kushari@databricks.com`;

name,directGroup
techsummit24-group-1,true
mars_female_group,true
admins,true
retail_demo,true

In [0]:
%sql
select * from mars_shared_catalog.mars_schema_1.people_redacted;

id,firstName,middleName,lastName,gender,birthDate,ssn,salary
1,Pennie,Carry,Hirschmann,F,1955-07-02T04:00:00.000Z,981-43-9345,56172
2,An,Amira,Cowper,F,1992-02-08T05:00:00.000Z,978-97-8086,40203
3,Quyen,Marlen,Dome,F,1970-10-11T04:00:00.000Z,957-57-8246,53417
4,Coralie,Antonina,Marshal,F,1990-04-11T04:00:00.000Z,963-39-4885,94727
5,Terrie,Wava,Bonar,F,1980-01-16T05:00:00.000Z,964-49-8051,79908
6,Chassidy,Concepcion,Bourthouloume,F,1990-11-24T05:00:00.000Z,954-59-9172,64652
7,Geri,Tambra,Mosby,F,1970-12-19T05:00:00.000Z,968-16-4020,38195
8,Patria,Nancy,Arstall,F,1985-01-02T05:00:00.000Z,984-76-3770,102053
9,Terese,Alfredia,Tocque,F,1967-11-17T05:00:00.000Z,967-48-7309,91294
10,Wava,Lyndsey,Jeandon,F,1963-12-30T05:00:00.000Z,997-82-2946,56521